<div class="row justify-content-center">
  <div class="col-6 static-page container border shadow-sm m-3 p-3">
    <h1 class="title text-center">NotNull에 관하여</h1>
    <p>
      <span class="text-monospace">NotNull</span>은 소프트웨어 개발 중 발생하는 문제를 공유하는 사이트입니다.
    </p>
    <p>
      일반적인 코드문제 또는 서비스 개선 및 잡담 그리고 사람에 관하여 다룹니다. 즉, 서비스를 만드는 상황에서 발생하는 모든 것들을 주제로 이야기할 수 있습니다.
    </p>
    <p>
      <span class="text-monospace">NotNull</span>은 일반적인 블로그 플랫폼을 지향하지 않습니다. 일방적인 정보전달보다는 여러 사용자들이 던지는 주제를 시작으로 많은 대화가 만들어지길 바랍니다.
    </p>
    <p>
      2019년 5월 박창주 씀.
    </p>
  </div>
</div>
