<div class="row justify-content-center">
  <div class="col-6 static-page container border shadow-sm m-3 p-3">
    <h1>StaticPages#terms</h1>
    <p>Find me in app/views/static_pages/terms.html.erb</p>
  </div>
</div>
