<div class="tab-pane fade show active" id="posts">
  <%= render partial: "components/post_list_item", collection: current_user.favorites_post_only_published, as: :post, locals: { has_user: true } %>
</div>
