<div class="row">
  <div class="col-3">col-3</div>
  <div class="col">
    <p id="notice"><%= notice %></p>

    <h1><%= @title %></h1>

    <div>
      <%=
        render partial: "components/post_list_item",
        collection: @posts, as: :post,
        locals: { has_user: true }
      %>
    </div>
    <br>

    <%= link_to 'New Post', new_post_path %>
  </div>
  <%# Large 스크린 이상에서만 노출 %>
  <div class="col-3">col-3</div>
</div>
