/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400');

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Nanum Gothic', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

.footer {
  min-height: 200px;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;

  .footer-inner {
  }
}


// Post
.post-preview {
  padding: 1rem;
  border: 1px solid #333;
  border-radius: .5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;

  a {
    color: #333;
  }

  .post-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .post-author {
    font-size: 1rem;
    margin-bottom: 1rem;
  }


  .post-meta {
    font-size: 1rem;
  }
}

.post {
  .post-details {
    margin-bottom: 2rem;
  }

  .post-header {
    padding: .5rem;
    margin-bottom: 2rem;
    .post-header-title {
      font-size: calc(2vw + 30px);
    }
  }
  .post-meta {
    .post-meta-author {
      font-size: 1rem;
      a {
        color: #333;
      }
    }
  }

  .post-content {
    margin-top: 1rem;
    margin-bottom: 2rem;
    div {
      line-height: 1.8;
    }
  }

  .author {
    padding: 1rem;
    background-color: rgba(100, 100, 100, 0.3);
  }
}

.post-comment-form {
  margin-bottom: 1rem;
  border: 1px solid #333;
  padding: 1rem;
}

.post .comment {
  border: 1px solid #333;
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 2rem;
  .comment-author {
    margin-bottom: 1rem;
  }

  .comment-body {
    font-size: 1.2rem;
  }
}

.post-meta-tag {
  font-family: monospace;
  color: #333;
  font-size: 1.2rem;
}

trix-editor {
  min-height: 500px;
}
